<h1>Editing signup</h1>

<% form_for(@signup) do |f| %>
	<%= render :partial => "form", :object => f %>
  	<p>
    	<%= f.submit 'Update' %>
  	</p>
<% end %>

<%= link_to 'Show', @signup %> |
<%= link_to 'Back', signups_path %>