<% content_for :title, "3 on 3 Basketball Registration" %>

<h3>Registration Closed</h3>

<p>
Basketball registration is now closed.  Please email <a href="mailto:basketball@meridianpal.org">basketball@meridianpal.org</a> with any questions.
</p>

<% if @auth_global %>
	<%= link_to 'Back', signups_path %>
<% end %>
